<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="#">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">

			<div class="card-body">
				<h1>Form</h1>
<form action="" method="post" >
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter the username"></br>
    <input type="Date" name="DOB" placeholder="Enter the date of birth"></br>
    <input type="intiger" name="Age" placeholder="Enter your age"></br>
     <label for="gender">Gender:</label>
    <select id="gender" name="gender">
        <option value="">Select gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
     </br>
    <input type="email" name="email" placeholder="Enter the emailid"></br>
    <input type="intiger" name="number" placeholder="Enter the phone number"></br>
     <label for="department">Department:</label>
    <select id="department" name="department">
        <option value="">Select Department</option>
        <option value="computer">Computer </option>
        <option value="commerce">Commerce</option>
        <option value="science">Science</option>
        <option value="physics">Physics</option>
        <option value="chemistry">Chemistry</option>
    </select><br>

    <label for="course">Course:</label>
    <select id="course" name="course"></select>
          <br>
    <label for="department">Choose the purpose:</label>
    <select id="purpose" name="purpose">
        <option value="">Choose purpose</option>
    <option value="enquiry">enquiry</option>
    <option value="placeorder">placeorder</option>
    <option value="return">return</option></select>
        <br>
    <label>Materials provide:</label>
  <input type="checkbox" id="mat1" name="mat1" value="Notebook">
  <label for="mat1">  Notebook</label>
  <input type="checkbox" id="mat2" name="mat2" value="Pen">
  <label for="mat2"> Pen</label>
  <input type="checkbox" id="mat3" name="mat3" value="Paper">
  <label for="mat3"> Paper</label>


    </select></br>
    <input type="submit">
    <div class="col-md-4" style="position:absolute; left:170px; top:383px;" >
<a class="btn btn-danger" href="{% url 'logout'  %}">Logout</a>
    </div>

</form>
        {% for message in messages %}
            <li>{{message}}</li>
                <a href="{% url 'home' %}">Homepage</a>
        {% endfor %}


                </div>
		</div>
	</div>
</div>

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script>
        $(document).ready(function() {
            $('#department').change(function() {
                var selectedDepartment = $(this).val();
                var courseDropdown = $('#course');

                courseDropdown.empty();

                if (selectedDepartment) {
                    $.ajax({
                        url: '/get_courses/',
                        method: 'GET',
                        data: {
                            department: selectedDepartment
                        },
                        success: function(response) {
                            $.each(response.courses, function(index, course) {
                                courseDropdown.append($('<option></option>').val(course.id).text(course.name));
                            });
                        },
                        error: function(xhr, status, error) {
                            console.error('AJAX Error: ' + status + ' ' + error);
                        }
                    });
                }
            });

        });
    </script>
</body>
</html>